<div class="wrapper">
   <ul class="tasks">
      <!-- LIST ITEMS GENERATED HERE -->
   </ul>
   <div class="stats">
      <div class="stats__left">
         <span class="stats__count">4</span>
         <span>items left</span>
      </div>
      <span class="stats__clear">Clear completed</span>
   </div>

   <div class="controls">
      <div class="controls__filters">
         <button class="controls__btn" id="all" type="button">All</button>
         <button class="controls__btn" id="active" type="button">Active</button>
         <button class="controls__btn" id="completed" type="button">Completed</button>
      </div>
   </div>
</div>
