// Variables for themes
@mixin apply-theme($theme-class, $theme) {
   body.#{$theme-class} {
      @each $property, $value in $theme {
         --#{$property}: #{$value};
      }
   }
}

// Custom input mixin with customizable border radius
@mixin custom-input($border-radius) {
   background-color: var(--input-bg);
   width: 100%;
   border: none;
   border-radius: $border-radius;
   padding: 1rem;
}
