.header .error {
   color: var(--clr-error) !important;
   opacity: 0.9;
}

.invalid-input::before {
   content: "Can't be empty.";
   font-weight: $fw-thin;
   font-style: italic;
   width: 10rem;
   color: var(--clr-error);
   position: absolute;
   left: 3.4rem;
   text-decoration: solid underline 1px;
   text-underline-offset: 4px;
}
