<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>My Website</title>
   </head>
   <body>
      <div class="container">
         <!-- HEADER START -->
         <%- include('partials/header') %>
         <!-- HEADER END -->

         <!-- MAIN START -->
         <main><%- include('partials/form') %></main>

         <!-- MAIN END -->

         <%- include('partials/footer') %>
      </div>
   </body>

   <% if (process.env.NODE_ENV === 'development') { %>
   <script type="module" src="http://localhost:5173/src/index.js"></script>

   <% } else { %>
   <script type="module" src="http://localhost:5173/src/index.js"></script>

   <% } %>
</html>
