input[type='checkbox'] {
   position: relative;
   width: 1.5rem;
   height: 1.5rem;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   border: 1px solid var(--btn-border);
   border-radius: 100%;
   cursor: pointer;
   @extend %flex-center;
}

input[type='checkbox']::before {
   content: '\2713'; // Unicode checkmark
   color: #fff;
   font-size: 0.75rem;
   width: 50%;
   height: 50%;
   transform: scale(0);
   position: absolute;
   z-index: 2;
   right: 0px;
   bottom: 0px;
   @extend %flex-center;
}

input[type='checkbox']::after {
   content: '';
   width: calc(100% - 2px); /* Adjusted to fit within the border */
   height: calc(100% - 2px);
   background-color: var(--input-bg);
   position: absolute;
   top: 1px;
   left: 1px;
   border-radius: 100%;
   z-index: 1;
}

input[type='checkbox']:hover::after {
   background-color: transparent;
}

input[type='checkbox']:checked::before {
   transform: translate(-50%, -50%) scale(1);
}

input[type='checkbox']:checked {
   background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
   border-color: transparent;
}

input[type='checkbox']:checked::after {
   background-color: transparent;
}

input[type='checkbox']:not(:checked):hover {
   border-color: transparent;
   background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

input[type='checkbox']:not(:checked):hover::after {
   content: '';
   width: calc(100% - 2px); /* Adjusted to fit within the border */
   height: calc(100% - 2px);
   background-color: var(--input-bg);
   position: absolute;
   top: 1px;
   left: 1px;
   border-radius: inherit;
   z-index: 1;
}

input[type='checkbox']:checked + .tasks__text {
   color: var(--complete-task-color);
   text-decoration: line-through;
   opacity: 0.8;
}
