.wrapper:has(.tasks) {
   position: relative;
   bottom: 4.5rem;
}

.tasks__item {
   position: relative; //because of invalid-input
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include custom-input(0px);
   border-bottom: 1px solid var(--body-bg);
}

.tasks__item:first-of-type {
   border-radius: 10px 10px 0 0;
}

.tasks__content {
   display: grid;
   grid-template-columns: 2rem 1fr;
   align-items: center;
   max-width: 100%;
}

.tasks__text {
   padding: 0.2rem 0.5rem 0 0.5rem; //center bit
   font-size: clamp(0.85rem, 3vw, 1rem);
   font-weight: 700;
   color: var(--task-color);
   cursor: pointer;
   /* Handle long words without spaces */
   overflow-wrap: break-word;
   word-break: break-word;
   hyphens: auto;
   transition: color 0.3s ease-in-out;

   &:is(:hover, :focus, :focus-visible) {
      background-color: var(--clr-editing);
      opacity: 0.9;
      border-radius: 5px;
      outline: none;
   }
}

.tasks__remove-btn {
   width: 1.75rem;
   cursor: pointer;
   @extend %transparent;

   svg {
      padding-top: 0.5rem;
      fill: var(--remove-task-hover);
      transition: transform 0.2s ease;

      &:is(:hover, :focus) {
         transform: scale(1.25);
      }
   }
}

// Stats Section

.stats {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   box-shadow: 0px 9px 3px -4px rgba(0, 0, 0, 0.16);

   @extend %text-sum-tasks;
   @include custom-input(0px 0px 10px 10px);
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

// Controls Section

.controls {
   margin-top: 2rem;
   box-shadow: 0px 9px 3px -4px rgba(0, 0, 0, 0.16);

   @include custom-input(10px);
}

.controls__filters {
   @extend %flex-center;
   gap: 1rem;
   flex-wrap: wrap;
}

.controls__btn {
   @extend %transparent;
   @extend %text-sum-tasks;
   cursor: pointer;

   &:is(:hover, :focus) {
      color: var(--filter-task-hover);
   }
}

.stats__clear:is(:hover, :focus) {
   color: var(--filter-task-hover);
   cursor: pointer;
}
